* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    padding: 23px 0;
    box-shadow: 0px 0px 10px rgba(17, 17, 17, 0.3);
    background-color: #fff;
}

.container-fluid {
    margin: 0 50px;
}

.navbar-brand {
    font-family: Segoe Print;
    font-size: 28px;
    color: #000;
    line-height: 23px;
    margin-left: -13px;
    margin-top: -5px;
}

.navbar-brand span {
    position: absolute;
    font-size: 15px;
    font-family: sedan;
    margin-left: 55px;
}

.navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
    font-family: 'Segoe UI';
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #717CFF;
    width: 0%;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
}

.nav-link:hover:after {
    width: 30px;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    margin-right: 62px;
}

.navbar-nav .btnn {
    border: 1px solid #717CFF;
    padding: 8px 30px;
    border-radius: 15px;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
    margin-left: 30px;
    margin-top: 5px;
}

.navbar-nav .btnn:hover {
    background-color: #717CFF;
    color: #fff;
}


/* home */
.home {
    padding-top: 185px;
    box-sizing: border-box;
    position: relative;
}

.home h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 74px;
    width: 475px;
}

.home h1 span {
    color: #717CFF;
}

.home p {
    margin-top: 19px;
    font-weight: 400;
    width: 579px;
    font-size: 19px;
    color: #7d7d7d;
}

.home .btnn {
    background-color: #717CFF;
    padding: 15px 34px;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
}

.btnn .fas {
    margin-left: 36px;
    margin-top: 80px;
}

.home .icon {
    margin-top: 80px;
    font-size: 20px;
}

.home .icon .fab {
    margin: 0 20px;
}

.fa-facebook-f {
    color: #3C5B9A;
}

.fa-twitter {
    color: #236CD9;
}

.fa-instagram {
    color: red;
}

.col-5 img {
    margin-top: -35px;
    position: relative;
}

.home .kotak {
    width: 560px;
    height: 410px;
    border-radius: 590px 0 0 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(189.86deg, #8471FF 8.06%, #717CFF 53.52%);
    opacity: 0.7;
    position: absolute;
}


/* Univ features */
.univ {
    background: #FCFDF8;
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: 423px;
}

.univ h3 {
    font-size: 23px;
    text-align: center;
    color: #373737;
}

.log:nth-child(1) {
    margin-top: 86px;
}

.log:nth-child(3) {
    margin-top: 60px;
}

.log:nth-child(4) {
    margin-top: 49px;
}

.log img {
    margin-top: -10px;
}

/* ourservices */

.ourservices {
    padding-top: 100px;
    padding-bottom: 100px;
}

.ourservices .heading h3 {
    color: #373737;
    font-size: 37px;
    font-weight: 400;
    margin-bottom: 25px;
}

.ourservices .heading p {
    font-size: 20px;
    color: #7D7D7D;
    margin-bottom: 100px;
}

.content .box {
    padding: 30px;
    border: 2px solid #717dff00;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgb(228, 228, 228);
    max-height: 370px;
}

.content .box:hover {
    border: 2px solid #717CFF;
}


.content .box h4 {
    font-size: 24px;
    font-weight: 400;
    color: #37474F;
}

.content .box p {
    color: #7D7D7D;
    font-size: 16px;
    margin-top: 13px;
    max-width: 185px;
}

.content .box a {
    text-decoration: none;
    color: #717CFF;
    display: inline-block;
    margin-top: -16px;
}

.content .box a i {
    margin-left: 18px;
}

.content .box i {
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    margin-bottom: 30px;
}

.un {
    background-color: #717CFF;
    color: white;
}

.plane {
    background-color: #FA706C;
    color: white;
}

.square {
    background-color: #FF5959;
    color: #fff;
}

.cek {
    background-color: #70CE88;
    color: #fff;
}

.hom {
    background-color: #5C96FF;
    color: #fff;
}


/* news */
.news {
    background: #FCFDF8;
    padding-top: 100px;
    padding-bottom: 25px;

}

.news .heading h3 {
    color: #373737;
    font-size: 37px;
    font-weight: 400;
    margin-bottom: 25px;
}

.news .heading p {
    font-size: 20px;
    color: #7D7D7D;
    margin-bottom: 100px;
}

/* kids */
.kids {
    padding-bottom: 70px;
    background: #FCFDF8;
}

.kids p {
    padding-top: 10px;
    font-size: 20px;
}

.kids .card {
    padding: 10px;
    border: none;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.kids .btnn {
    background-color: #717CFF;
    padding: 15px 34px;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
}

/* event */
.event {
    padding-top: 100px;
    padding-bottom: 140px;
}

.event .heading h3 {
    color: #373737;
    font-size: 37px;
    font-weight: 400;
    margin-bottom: 25px;
}

.event .heading p {
    font-size: 20px;
    color: #7D7D7D;
    margin-bottom: 100px;
}

.event .isi .box {
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.08);
    padding: 40px;
    border-radius: 10px;
}

.event .isi .box .tanggal {
    padding: 18px;
    background: #717dff3d;
    line-height: 3px;
    text-align: center;
    border-radius: 5px;
}

.event .isi .box .tanggal p,
small {
    color: #717CFF;
    font-weight: 500;
}


/* area */
.area {
    background: #FCFDF8;
    padding-top: 100px;
    padding-bottom: 100px;

}

.area .heading h3 {
    color: #373737;
    font-size: 37px;
    font-weight: 400;
    margin-bottom: 25px;
}

.area .heading p {
    font-size: 20px;
    color: #7D7D7D;
}

.area .kota {
    padding-top: 60px;
    padding-bottom: 40px;
}


/* Testimonial */

.testimonial {
    padding-top: 100px;
    padding-bottom: 100px;
}

.testimonial .heading h3 {
    color: #373737;
    font-size: 37px;
    font-weight: 400;
    margin-bottom: 25px;
}

.testimonial .heading p {
    font-size: 20px;
    color: #7D7D7D;
}

.carousel-indicators {
    bottom: -80px;
}

.carousel-indicators li {
    background: #7c7c7c7a;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    margin: 0 5px;
}

.carousel-indicators li.active {
    background: #717CFF;
}

.carousel-inner .carousel-item {
    padding: 100px 30px 30px;
}

.testimonial .card {
    padding: 30px 30px 40px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    border: none;
}

.testimonial .card .nama {
    line-height: 4px;
}

.testimonial .card .nama p {
    font-size: 20px;
}

.testimonial .card .nama small {
    font-size: 14px;
    color: #37474fc2;
}

.talk {
    background: #FCFDF8;
    padding-top: 50px;
}

.talk .btnn {
    background-color: #717CFF;
    padding: 15px 34px;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
}

.footer{
    background-color: #717CFF;
    color: #fff;
    font-family: 'Segoe UI';
}
/* 
.footer .navbar-brand {
    font-family: Segoe Print;
    font-size: 28px;
    color: #fff;
    line-height: 23px;font-family: Segoe Print;
}

.footer .navbar-brand span {
    font-size: 15px;
    font-family: sedan;
    margin-left: 55px;
} */

.footer .extraordinary{
    font-size: 2rem;
    font-weight: bold;
}

.footer .subextraordinary{
    margin-top: -10px;
}

.footer .row .title {
    font-size: 22px;
    font-weight: bold;
}

.footer .row p {
    font-size: 17px;
    font-weight: 300;
}

.footer .row a {
    color: #fff;
    text-decoration-color: #fff;
}

.footer .row i {
    color: #fff;
    font-size: 23px;
}




/* Responsive ------------------------ */

@media (max-width: 1199.98px) {
    .navbar-light .navbar-nav .nav-link {
        margin-right: 40px;
    }
}

@media (max-width: 991.98px) {
    .home {
        padding-top: 165px;
    }

    .home .kotak {
        width: 460px;
    }

    .home h1 {
        font-size: 40px;
        line-height: 50px;
        max-width: 400px;
    }

    .home p {
        margin-top: 40px;
        width: 430px;
        font-size: 18px;
    }

    .home .icon {
        margin-top: 40px;
    }

    .btnn .fas {
        margin-top: 60px;
    }

    .col-5 img {
        width: 320px;
    }

    .univ .row {
        text-align: center;
    }

    .ourservices .row .col-lg-4 {
        max-width: 340px;
    }

    .footer .row{
        align-items: center;
    }
}

@media (max-width: 767.98px) {

    .ourservices .heading p,
    .news .heading p,
    .event .heading p,
    .area .heading p,
    .testimonial .heading p {
        font-size: 16px;
    }

    .col-7 {
        width: 100%;
    }

    .col-5 {
        display: none;
    }

    .home .btnn {
        padding: 15px 20px;
        font-size: 16px;
    }

    .content .box p {
        max-width: 300px;
    }

    .log img {
        width: 200px;
    }

    .ourservices .row .col-lg-4 {
        max-width: 400px;
        margin: auto;
    }

    .ourservices .col-md {
        max-width: 450px;
        text-align: center;
        margin: auto;
    }

    .talk .btnn {
        padding: 12px 19px;
        font-size: 16px;
    }

    .talk img {
        display: none;
    }
}

@media (max-width: 425px) {

    .navbar-brand {
        font-size: 20px;
    }

    .navbar-brand span {
        margin-left: 36px;
    }

    .home h1 {
        font-size: 30px;
        max-width: 300px;
    }

    .home p {
        margin-top: 10px;
        width: 250px;
    }

    .home .btnn {
        padding: 8px 10px;
    }

    .home .icon .fab {
        margin: 0 8px;
    }

    .btnn .fas {
        margin-top: 20px;
        margin-left: 12px;
    }

    .log img {
        width: 150px;
    }

    .log:nth-child(2) {
        margin-top: 20px;
    }

    .ourservices .heading h3,
    .news .heading h3,
    .event .heading h3,
    .area .heading h3,
    .testimonial .heading h3 {
        font-size: 26px;
    }

    .ourservices .heading p,
    .news .heading p,
    .event .heading p,
    .area .heading p,
    .testimonial .heading p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .content .box {
        padding: 10px;
        max-height: 280px;
    }

    .content .box i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .content .box h4 {
        font-size: 20px;
    }

    .content .box p {
        max-width: 250px;
        font-size: 14px;
    }

    .kids .card {
        display: flex;
        height: 170px;
        flex-direction: row;
    }

    .kids p {
        font-size: 16px;
    }

    .kids .card img {
        width: 120px;
        height: 100px;
    }

    .kids .btnn {
        font-size: 16px;
        padding: 8px 10px
    }

    .event .isi .box {
        padding: 10px 30px;
    }

    .area .kota {
        padding-top: 20px;
    }

    .area .kota .col-md {
        text-align: center;
    }

    .area .kota img {
        width: 80%;
    }

    .area .kota h5 {
        font-size: 18px;
    }

    .area .kota p {
        font-size: 14px;
    }

    .talk h1 {
        font-size: 24px;
    }
}
